########################################################################
# .htaccess file created with latest 2019 specification for wordpress security & speed
# ----------------------------------------------------------------------
# @Author: Ricardo Correia
# @Author URI: https://ricardocorreia.me
# License: GNU General Public License v3 or later
########################################################################


# ----------------------------------------------------------------------
# Rewrite from HTTP to HTTPS - comment it out to use
# ----------------------------------------------------------------------

#<IfModule mod_rewrite.c>
#RewriteEngine On
#RewriteCond %{HTTPS} !=on
#RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
#</IfModule>

# ----------------------------------------------------------------------
# | Activate CORS                                                  
# ----------------------------------------------------------------------

<IfModule mod_headers.c>
    <FilesMatch "\.(ttf|ttc|otf|eot|woff|woff2|font.css|css|js|gif|png|jpe?g|svg|svgz|ico|webp)$">
        Header set Access-Control-Allow-Origin "*"
    </FilesMatch>
</IfModule>

# -----------------------------------------------------------------------
# | 404 Fix: Block Nuisance Requests for Non-Existent Files - New in 2018  
#   https://perishablepress.com/block-nuisance-requests
#   Comment out, if you don't use Let's Encrypt, because Let's Encrypt is using .well-known
# -----------------------------------------------------------------------

#<IfModule mod_alias.c>
#	RedirectMatch 403 (?i)\.php\.suspected
#	RedirectMatch 403 (?i)\.(git|well-known)
#	RedirectMatch 403 (?i)apple-app-site-association
#	RedirectMatch 403 (?i)/autodiscover/autodiscover.xml
#</IfModule>
